html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

b
{
	color:#F30
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
	/*background:#69AF32;*/
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
	font-family: 'Inder', sans-serif;
    min-height:100%;
    background-size:cover;
}

input[type="text"], input[type="password"], input[type="button"], input[type="submit"]{
	font-family: 'Inder', sans-serif;
}
#red_content{
	width: auto;
	height: 100%;
	color: #000;
	color:
}
/*css efectos para la funcion de busqueda*/
#caja_busqueda /*estilos para la caja principal de busqueda*/
{
width:400px;
height:25px;
border:solid 2px #979DAE;
font-size:16px;
}
#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
width:400px;
display:none;
overflow:hidden;
z-index:10;
border: solid 1px #666;
}
.display_box /*estilos para cada caja unitaria de cada usuario que se muestra*/
{
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
}

.display_box:hover /*estilos para cada caja unitaria de cada usuario que se muestra. cuando el mause se pocisiona sobre el area*/
{
background: #7f93bc;
color: #FFF;
}
.desc
{
color:#666;
font-size:16;
}
.desc:hover
{
color:#FFF;
}

/*fin del Css de busqueda*/
	td{
	width:200px;
}
a{
	text-decoration:underline;
	cursor:pointer;
}	


#red_header{
	background:#69AF32;
	height:80px;
    color:#FFF;
}

#red_header_logo{	
	height:auto;
	float:left;
	margin-left:30px;
	width:400px;
}

#red_header_logo span{
    font-family: 'Shojumaru', cursive;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#red_header_login{    
	float:right;
	height:80px;
	margin-right:20px;
	width:500px;
}

.redondear{
	border-radius: 10px;
	padding-left:10px;
}

#login_text{	    
    color: #fff;
	height:28px;
	margin-top:20px;    
}

#login_text_reg{
    color: #fff;
    height:28px;      
}    

#login_text_reg a{
    text-decoration: none;
    color: blue;
}

#DisADMINISTRADOR
{
	font-family: 'Inder', sans-serif;
    font-size: 26px;    
    float: none;
    height: 35px;
    margin: 5px 0 0 20px;
    width: 200px;  
}	

#DisCLIENTE
{
	font-family: 'Inder', sans-serif;
    font-size: 26px;    
    float: none;
    height: 35px;
    margin: 5px 0 0 20px;
    width: 200px;  
}	

/* placeholder */
::-webkit-input-placeholder { color: #FFAD85; font-style: italic; font-size: 15px;}
::-moz-placeholder { color:#FFAD85; font-style: italic; font-size: 15px;} /* firefox 19+ */
:-ms-input-placeholder { color:#FFAD85; font-style: italic; font-size: 15px;} /* ie */
input:-moz-placeholder { color:#FFAD85; font-style: italic; font-size: 15px;}

#red_page{
	background: rgba(255,255,255,0.2);         
    margin: 0 auto;         
    height: auto;
    width:960px;
    overflow: hidden;
}

#red_page_unete{
	/*background:#CCC;*/
    color: #fff;
	height:550px;
	font-size:20px;    
	width: 800px;    
}

#red_page_unete span{
    background: #69AF32;
    height: 15px;
    width: auto;
    padding: 0 5px;
    border-radius: 5px;

}

#red_page_unete span a{
    text-decoration: none;
    color: white;
}

.red_reg_campos{

    margin: 10px 0 10px 30px;
    height: 30px;
}

.list_item_container {
    height: auto;
    padding: 2px;
    margin-bottom: 30px;    
}
.image_list {
    width: 32px;
    height: 32px;
    float: left;
}

.label_list{
    float: left;
    font-size: 10px;
    margin-left: 5px;
}

.red_reg_label{    
    float: left;
    width: 210px;
    text-align: left;
}

.red_reg_input{    
    float: left;
    margin-left: 10px;
    width: 240px;
}

#red_reg_terminos{
    margin-left: 30px;
    font-size: 9px;
}

.red_reg_button{
    float: right;
}

#red_registro input[disabled] {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #ccc;
    color: #FFF;
}

#red_footer{
    background: #69AF32;
    color: #fff;
    height: 50px;
    width: 960px;
    border-radius:  0 0 10px 10px ;
    text-align: center;
}
	
.centrar{
	margin: 0 auto;
}



/* estilos para perfil */

#red_usuario_datos{    
    height: 130px;
    width: 940px;
}

#red_usuario_foto{
    background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 128px;
    margin: 0 0 5px 20px;
    width: 128px;
}

#red_video
{
	 background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 300px;
    margin: 0 0 5px 20px;
    width: 532px;
}

#red_webservice
{
	 background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 270px;
    margin: 0 0 5px 20px;
    width: 300px;
}

#red_usuario_nombre{    
    font-family: 'Inder', sans-serif;
    font-size: 20px;    
    float: left;
    height: 35px;
    margin: 40px 0 0 20px;
    width: 500px;    
}

#red_usuario_personales{
    float: left;
    width: 400px;
    margin: 1px 0 0 20px;
}

#red_usuario_agregar{
    background: #69AF32;
    float: right;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: 15px 20px 0 0;
    border-radius: 5px;    
    transition: all 0.5s ease-in;
}


#red_usuario_agregar:hover{
    background-color: #395F1B;
    transition: all 0.5s ease-out;           
}

#red_usuario_agregar span a{
    text-decoration: none;
    color: white;
}

#red_lateral{
    background: #69AF32;
    float: left;
    height: auto;
    margin: 0 0 10px 30px;
    width: 200px;
    border-radius: 5px;
}

#red_completa
{
	background:  #69AF32;
	float: left;
    height: auto;
    margin: 0 0 10px 20px;
    width: 920px;
    border-radius: 5px;
}

#red_deregistro
{
	background:#3CF;
	float: left;
    height: auto;
    margin: 0 0 10px 20px;
    width: 920px;
    border-radius: 5px;
}
#red_gamer_foto
{
    background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 128px;
    margin: 0 15px 5px 20px;
    width: 128px;
}
#red_gamer_fotosss
{
    background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 400px;
    margin: 0 15px 5px 20px;
    width: 500px;
}

#red_fotogam
{
    background: white;
    border: 8px ridge #69AF32;
    float: left;
    height: 400px;
    margin: 0 15px 5px 20px;
    width: 270px;
}


#cajon1
	{
		background:#0CF;
		float:left;
		height: auto;
        margin: 0 0 10px 20px;
        width: 200px;
        border-radius: 5px;
	}
	#cajon2
	{
		float:left;
		background:#0CF;
		height: auto;
        margin: 0 0 10px 20px;
        width: 200px;
        border-radius: 5px;
	}
	#cajon3
	{
		float:left;
		background:#0CF;
		height: auto;
        margin: 0 0 10px 20px;
        width: 200px;
        border-radius: 5px;
	}
	#cajon4
	{
		float:left;
		background:#0CF;
		height: auto;
        margin: 0 0 10px 20px;
        width: 250px;
        border-radius: 5px;
	}

	

#red_lateral ul li{
    list-style: none;
    margin: 0 10px 0 -15px;        
    height: 30px;
    padding: 5px 0 0 5px;
}

#red_lateral ul li:hover{
    background: #395F1B;
}

#red_lateral ul li a{
    text-decoration: none;
    color: white;
}

#red_lateral ul li span{
    color: white;
    padding-left: 5px;
}

.circulo{
    background: red;
    border-radius: 10px;
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;    
}

.red_lateral_activo{
	background:#FBE384
    /*background: #395F1B;*/
}

#red_usuario_contenido
{    
    background: rgba(105,175,50,0.9);             
    float: left;
    height: auto;
    margin: 0 0 0 10px;
    width: 675px;
    border-radius: 5px;
}



#form_titulo{
    width: 240px;
}

.ruc_caja{    
    height: 50px;
    width: 550px;
    margin-bottom: 2px;
}

.ruc_textos{    
    width: 225px;
    height: auto;
    float: left;
    text-align: right;
    margin-right: 5px;
}

.ruc_input{    
    width: 300px;
    height: auto;
    float: left;   
}

.ruc_boton{
    width: 100px
}


#red_usuario_foto img{
    width: 128px;
    height: 128px;
}



#red_buscar{    
    
    float:right;
    height:80px;
    margin-right:20px;
    width:500px;
}

#red_buscar_text{
    float: right;
    margin: 27px 20px 0 0;
}


#ruc_panel_notificaciones{
    width: 670px;
    height: auto;    
    margin-left: 10px;
    background: rgba(255,255,255,0.2);         
}

.ruc_notificacion{
    width: 580px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.ruc_notificacion a{
    text-decoration: none;
    color: white;
}

.ruc_agregar{
    background: #69AF32;
    float: right;
    height: 20px;
    width: 60px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;    
    transition: all 0.5s ease-in;
    display: inline-block;
    clear: both;
}

.ruc_agregar:hover{
    background-color: #395F1B;
    transition: all 0.5s ease-in;
}

.ruc_rechazar{
    background: #ff0000;
    float: right;
    height: 20px;
    width: 60px;
    text-align: center;
    margin-left: 1px;
    border-radius: 5px;    
    transition: all 0.5s ease-in;
    display: inline-block;
}

.ruc_rechazar:hover{
    background-color: #395F1B;
    transition: all 0.5s ease-in;
}

#ruc_panel_amigos{
    height: auto;
    width: 655px;    
    margin-left: 10px;
    background: rgba(255,255,255,0.2);         
}

.ruc_amigos{
    background: #f0f0f0;
    height: 150px;
    width: 150px;
    margin: 5px;
    display: inline-block;
}

#ruc_comentario{
    
}

/*------------- diseño de presentacion de gamer listas y comentarios----------*/

#imagenListagamer
	{
		background:#0CF;
		float:left;
        margin: 0 0 10px 10px;
         width: 128px;
         height: 128px;
        border-radius: 5px;
	}









/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
}
